@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap');

::selection {
  background: rgb(91,33,130); /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background: rgb(91,33,130); /* Gecko Browsers */
  color: white;
}

* {
  font-family: 'Roboto Slab', serif;
  color: rgba(0, 0, 0, 0.7);
}

body {
  border: none;
  margin: 0;
  padding: 0;
}

/* navbar start */
.logo {
  float: left;
}

.navigation_bar {
  background-color: white;
  height: auto;
  width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navigation_container {
  display: flex;
  justify-content: space-between;
  width: 78%;
  margin: 0 auto;
  height: 7em;
}

#menu_navbar {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  width: 78%;
  margin: 0 auto;
}

.logo {
  margin: 1em 0;
  height: 5em;
  width: 20%;
}

.logo .logo_container {
  height: 100%;
  width: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.services_navbar {
  width: 20%;
  margin: 1em 0;
  height: 5em;
}

.register_navbar {
  width: 47%;
  margin: 1em 0;
  height: 5em;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.register_navbar *{
  align-items: center;
  font-size: 1.8em;
}

.register_navbar button{
  padding: .55em 0;
  width: 9.5em;
  font-size: 1.6em;
  font-weight: bold;
  background-color: #28A745;
  color: white;
  border: 0px solid #28A745;
  border-radius: 10px;
}

.dropbtn:focus{
  border: none;
  outline: none;
}


.register_navbar span{

}

#menu {
  float: right;
}

.dropbtn {
  width: 100%;
  height: 100%;
  font-size: 1.6em;
  border: none;
  background-color: transparent;
  align-items: center;
}

.services_navbar {
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.dropdown-content {
  min-width: 80vw;
  margin-top: 0.9em;
  background-color: white;
}

.dropdown-content a {
  font-weight: bold;
  font-size: 1.8em;
  padding: 12px 16px 12px 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

/* Dropdown button */
